<h1>naming_conflicts/erb_file.html.erb</h1>
<div>
  This is a sample <%= "erb" %>file on the second level of the template folder.
  It should present no naming conflicts with its erb_file counterparts.
</div>
