<!DOCTYPE html>
<html>
<head>
  <title>RailsTemplatecache</title>
  <%= stylesheet_link_tag    "rails_templatecache/application", media: "all" %>
  <%= javascript_include_tag "rails_templatecache/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
